html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Fonts */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    url("../fonts/noto-serif-v8-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Bilbo Swash Caps";
  font-style: normal;
  font-weight: 400;
  src: local("Bilbo Swash Caps Regular"), local("BilboSwashCaps-Regular"),
    url("../fonts/bilbo-swash-caps-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/bilbo-swash-caps-v12-latin-regular.woff") format("woff");
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* start Header section */
.page-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 120px;
}

.sitе-logo {
  font-size: 26px;
  color: #fed136;
  font-family: "Bilbo Swash Caps";
  font-weight: 400;
  text-decoration: none;
}

.page-menu {
  display: flex;
  justify-content: space-between;
  width: 485px;
  list-style: none;
}

.page-menu a {
  font-size: 14px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.page-menu a:hover,
.page-menu a:focus,
.sitе-logo:focus {
  color: #fed136;
}
/* end Header section */

/* start h2 */
.services-title,
.contact-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 78px;
}

.line-1 {
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services-title .line-1 {
  color: #222222;
}

.contact-title .line-1 {
  color: #ffffff;
  padding-top: 104px;
}

.line-2 {
  font-size: 16px;
  color: #777777;
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
}
/* end h2 */

/* start Services section */
.services {
  margin-bottom: 120px;
}

.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 290px;
  list-style: none;
  text-align: center;
}

.services-item::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 26px;
}

.icon-e-commerce::before {
  background-image: url(../img/e-commerce.png);
}

.icon-responsive-web::before {
  background-image: url(../img/responsive-web.png);
}

.icon-web-security::before {
  background-image: url(../img/web-security.png);
}

.services-list-name {
  font-size: 18px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 18px;
}

.services-list-deskr {
  font-size: 14px;
  line-height: 17px;
  color: #777777;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
}
/* end Services section */

/* start Contact section */
.contact {
  padding-bottom: 115px;
  background-color: #222222;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: right bottom 20px;
}

.contact-form input:required:valid,
.contact-form textarea:valid {
  outline: 2px solid #00ff00;
}

.contact-form input:required:invalid:focus,
.contact-form textarea:invalid:focus {
  outline: 2px solid #ff0000;
}

.contact-form-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact-form-input-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.name,
.email,
.subject,
.message {
  width: 455px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
}

.name,
.email,
.subject {
  height: 50px;
}

.message {
  height: 210px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 14px;
  color: #bbbbbb;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}

.send-button {
  width: 240px;
  border-radius: 3px;
  background-color: #fed136;
  font-size: 18px;
  line-height: 65px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
