.footer {
  @extend %flex-space-between;
  border-top: 1px solid $border-footer-color;
  align-items: center;
}

.footer__info {
  font-size: 14px;
  line-height: 62px;
  color: $item-name-color;
  font-family: $font-montserrat;
  font-weight: 400;
}

.footer__link {
  color: $bg-color-red;
  text-decoration: none;
}

.form {
  display: flex;
}

.form__email {
  width: 228px;
  background-color: $primary-color-white;
  border: 1px solid $form-border-color;
  padding: 0 12px;
  font-size: 15px;
  line-height: 40px;
  font-family: $font-roboto;
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.form__email input::placeholder {
  color: $placeholder-color;
}

.form__button {
  width: 150px;
  background-color: $box-shadow-color;
  font-size: 14px;
  line-height: 40px;
  color: $primary-color-white;
  font-family: $font-montserrat;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
