.learn-more {
  @extend %link;
  width: 160px;
  height: 40px;
  border: 3px solid $primary-color-white;
  margin: 0 auto;
  text-align: center;

  font-size: 14px;
  line-height: 36px;
  color: $primary-color-white;
  font-family: $font-montserrat;
  font-weight: 700;
  text-transform: uppercase;
}
