$font-montserrat: "Montserrat", sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;

$primary-color-white: #ffffff;
$bg-color-yellow: #fce38a;
$bg-color-red: #f38181;
$descriptions-color: #999999;
$item-name-color: #333333;
$box-shadow-color: #95e1d3;
$border-footer-color: #e5e5e5;
$form-border-color: #e7e7e7;
$placeholder-color: #cccccc;
