/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* start Background*/
.background {
  min-height: 1000px;
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(251, 227, 137, 0.9)),
      to(rgba(243, 138, 129, 0.9))
    ),
    url("../img/eagle.jpg");
  background-image: -o-linear-gradient(
      bottom,
      rgba(251, 227, 137, 0.9),
      rgba(243, 138, 129, 0.9)
    ),
    url("../img/eagle.jpg");
  background-image: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.9),
      rgba(243, 138, 129, 0.9)
    ),
    url("../img/eagle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 52px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background {
    background-image: -webkit-gradient(
        linear,
        left bottom, left top,
        from(rgba(251, 227, 137, 0.9)),
        to(rgba(243, 138, 129, 0.9))
      ),
      url("../img/eagle@2x.jpg");
    background-image: -o-linear-gradient(
        bottom,
        rgba(251, 227, 137, 0.9),
        rgba(243, 138, 129, 0.9)
      ),
      url("../img/eagle@2x.jpg");
    background-image: linear-gradient(
        to top,
        rgba(251, 227, 137, 0.9),
        rgba(243, 138, 129, 0.9)
      ),
      url("../img/eagle@2x.jpg");
  }
}
/* end Background*/

/* start Header section */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 38px;
  margin-bottom: 150px;
}

.sitе-logo {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-decoration: none;
}

.page-header-menu {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-menu {
  width: 490px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-menu__link {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.page-menu__link::after {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  content: "";
  margin: 9px auto 0px;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.page-menu__link:hover::after,
.page-menu__link:focus::after {
  opacity: 1;
  background-color: #fce38a;
}

.page-menu__link:hover,
.page-menu__link:focus {
  color: #fce38a;
}

.page-menu__icon {
  width: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-menu__icon--icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.page-menu__icon--icon:hover,
.page-menu__icon--icon:focus {
  fill: #fce38a;
}

/* start Header-Title */
.page-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 112px;
}

.page-header__title--descr {
  font-size: 72px;
  font-family: "Kaushan Script";
  font-weight: 400;
  margin-bottom: 54px;
}

.page-header__title--name {
  width: 850px;
  font-size: 150px;
  line-height: 140px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}
/* end Header-Title*/

.learn-more {
  display: block;
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  margin: 0 auto;
  text-align: center;

  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* end Header section */

/* start Services and Team title */
.services__title,
.team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  text-align: center;
}

.services__title::after,
.team__title::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  content: "";
  margin: 40px auto 64px;
}

.team__title::after {
  margin-bottom: 46px;
}

.services__title--descr,
.team__title--descr {
  font-size: 24px;
  line-height: 29px;
  font-family: "Kaushan Script";
  font-weight: 400;
  margin-bottom: 20px;
}

.services__title--name,
.team__title--name {
  font-size: 30px;
  line-height: 36px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}
/* end Services and Team title */

/* start Services section */
.services {
  margin-bottom: 98px;
}

.services__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 380px;
  padding-left: 80px;
  margin-bottom: 98px;
  position: relative;
}

.services__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services__item::before {
  content: "";
  display: block;
  width: 80px;
  height: 100%;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-position: center 0;
}

.services__icon--photography::before {
  background-image: url(../img/icons/photography.svg);
}

.services__icon--web-design::before {
  background-image: url(../img/icons/web-design.svg);
}

.services__icon--creativity::before {
  background-image: url(../img/icons/creativity.svg);
}

.services__icon--seo::before {
  background-image: url(../img/icons/seo.svg);
}

.services__icon--css-html::before {
  background-image: url(../img/icons/css-html.svg);
}

.services__icon--digital::before {
  background-image: url(../img/icons/digital.svg);
}

.services__item--name {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services__item--descr {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}
/* end Services section */

/* start Team section */
.team {
  margin-bottom: 82px;
}

.team__descr {
  width: 980px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin: 0px auto 90px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  width: 380px;
  list-style: none;
}

.team__item-gradient {
  margin-bottom: 30px;
  position: relative;
}

.team__item-gradient::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
  background-image: -o-linear-gradient(bottom, #fce38a 0%, #f38181 100%);
  background-image: linear-gradient(0deg, #fce38a 0%, #f38181 100%);
  opacity: 0;
}

.team__item-gradient:hover .team__item-img {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.team__item-gradient:hover::after {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0 #95e1d3;
          box-shadow: 10px 10px 0 #95e1d3;
  opacity: 0.9;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.socials {
  list-style: none;
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 3;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
  border: none;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.socials__link:hover,
.socials__link:focus {
  background-color: #f38181;
}

.socials__icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  fill: #f38181;
  -webkit-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  transition: fill 200ms linear;
}

.socials__link:hover .socials__icon {
  fill: #ffffff;
}

.team__item-gradient:hover .socials {
  opacity: 1;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.team__item-name {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.team__item-position {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
/* end Team section */

/* start Page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  font-size: 14px;
  line-height: 62px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
}

.footer__link {
  color: #f38181;
  text-decoration: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__email {
  width: 228px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 0 12px;
  font-size: 15px;
  line-height: 40px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.form__email input::-webkit-input-placeholder {
  color: #cccccc;
}

.form__email input::-moz-placeholder {
  color: #cccccc;
}

.form__email input:-ms-input-placeholder {
  color: #cccccc;
}

.form__email input::-ms-input-placeholder {
  color: #cccccc;
}

.form__email input::placeholder {
  color: #cccccc;
}

.form__button {
  width: 150px;
  background-color: #95e1d3;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
/* end Page footer */